@{
    ViewData["Title"] = "Étudiant en stagiaire";
}
   

<div class="text-center">
    <h1 class="display-4">Stage pour étudiant 2020</h1>
    <h3>Comment ça marche?</h3>
    <p>Afin d'assurer une meilleure gestion pour vos stages, veuillez vous <a href="/Identity/Account/Register"><u>inscrire</u></a> ou vous <a href="/Identity/Account/Login"><u>connectez</u></a> sur l'espace membre du sites pour accéder à vos stages.  </p>
    
    <p>Créateur(s): Kenny Linh, Mehdi Jemai, Yassmine El Wasmi, Abdessamad Chafry</p>
</div>

